@model TRS2._0.Models.ViewModels.PeriodDetailsViewModel
@using System.Globalization

<div class="table-responsive mx-3 mb-4">
    <table class="table table-bordered table-striped table-hover">
        <thead class="thead-dark">
            <tr>
                <th class="nombre-columna text-center">Nombre</th>
                @foreach (var monthDetail in Model.MonthDetails)
                {
                    <th class="text-center">
                        <div style="border-bottom: 1px solid white; margin-bottom: 2px; margin-top: 8px; text-align: center; font-weight: bold;">@monthDetail.Key</div>
                        <div style="text-align: center; font-weight: bold;">@monthDetail.Value</div>
                    </th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var person in Model.Persons)
            {
                <tr>
                    <td class="font-weight-bold">@person.Personnel.Name @person.Personnel.Surname</td>
                    @foreach (var monthDetail in Model.MonthDetails)
                    {
                        var monthDate = DateTime.Parse(monthDetail.Value);
                        decimal declaredHours = person.DeclaredHours.ContainsKey(monthDate) ? person.DeclaredHours[monthDate] : 0;
                        decimal hoursInProject = person.HoursinProyect.ContainsKey(monthDate) ? person.HoursinProyect[monthDate] : 0;
                        decimal completionPercentage = person.CompletionPercentage.ContainsKey(monthDate) ? person.CompletionPercentage[monthDate] : 0;
                        decimal totalEffort = person.TotalEffortinProyect.ContainsKey(monthDate) ? person.TotalEffortinProyect[monthDate] : 0;

                        var statusKey = $"{monthDate.Year}-{monthDate.Month:D2}";
                        var status = person.PersonStatusByMonth.ContainsKey(statusKey) ? person.PersonStatusByMonth[statusKey] : (OutOfContract: false, Overloaded: false);
                        var isLocked = person.LockStatusByMonth.ContainsKey(statusKey) && person.LockStatusByMonth[statusKey];
                        var backgroundColor = status.OutOfContract ? "#FF8C00" : (status.Overloaded ? "#FFFF00" : "");

                        <td style="background-color: @backgroundColor; padding: 4px; vertical-align: top;" data-declared-hours="@declaredHours" data-hours-in-project="@hoursInProject" data-total-effort="@totalEffort">
                            <div class="d-flex justify-content-center align-items-center" style="flex-grow: 1; font-size: 0.875rem; font-weight:bold;">
                                <span>@declaredHours | @hoursInProject</span>
                            </div>
                            @if (status.OutOfContract)
                            {
                                <div class="text-center mt-2" style="width: 100%; font-weight:bold; white-space: nowrap;">Out of Contract</div>
                                @if (!(declaredHours > 0 || hoursInProject > 0))
                                {
                                    // No mostrar botones si OutOfContract y hay horas declaradas o en proyecto.
                                }
                            }
                            else
                            {
                                <div class="progress" style="height: 10px;">
                                    <div class="progress-bar bg-success" role="progressbar" style="width: @(completionPercentage.ToString("0"))%;" aria-valuenow="@completionPercentage" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <div class="text-center" style="font-size: 0.75rem;">@completionPercentage%</div>
                            }

                            @if (status.Overloaded)
                            {
                                @if (status.OutOfContract && (declaredHours > 0 || hoursInProject > 0))
                                {

                                }
                                else
                                {
                                    <button class="btn btn-warning w-100 mt-2" disabled>Overloaded</button>
                                    @if (isLocked)
                                    {
                                        <button class="btn btn-danger w-100 mt-2" onclick="updateLockStatus('@person.Personnel.Id', '@monthDate.Year', '@monthDate.Month', '@ViewBag.ProjectId', '@ViewBag.PeriodId', '/Projects/Unlock')">Desbloquear</button>
                                    }

                                }
                            }
                            else if (!status.Overloaded && !status.OutOfContract)
                            {
                                @if (isLocked)
                                {
                                    <div class="button-container mt-2">
                                        <button class="btn btn-danger w-100" onclick="updateLockStatus('@person.Personnel.Id', '@monthDate.Year', '@monthDate.Month', '@ViewBag.ProjectId', '@ViewBag.PeriodId', '/Projects/Unlock')">Desbloquear</button>
                                        <!-- Enlace para descargar el Timesheet como PDF -->
                                        <a href="@Url.Action("ExportTimesheetToPdf2", "Timesheet", new { personId = person.Personnel.Id, year = monthDate.Year, month = monthDate.Month, project = @ViewBag.ProjectId })" class="btn btn-info w-100 mt-2">Timesheet</a>
                                    </div>
                                }
                                else
                                {
                                    <button class="btn btn-success w-100 mt-2" onclick="updateLockStatus('@person.Personnel.Id', '@monthDate.Year', '@monthDate.Month', '@ViewBag.ProjectId', '@ViewBag.PeriodId', '/Projects/Lock')">Bloquear</button>
                                }
                            }
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>

<style>
    .nombre-columna {
        min-width: 200px; /* Ajusta según necesites */
        max-width: 100px;

    }

    .table {
        max-height: 800px; /* Ajusta esto según la altura deseada */
        overflow-y: auto;
        overflow-x: auto; /* Habilita el scroll horizontal */
        max-width: 1200px; /* Ancho máximo para la tabla */
        margin: 0 auto; /* Centra la tabla horizontalmente */
    }

        .table th, .table td {
            max-width: 150px; /* Ancho máximo para las columnas */
            max-height: 100px; /* Altura máxima para las filas */
            overflow: hidden; /* Oculta el contenido que exceda el tamaño */
            text-overflow: ellipsis; /* Añade puntos suspensivos al contenido que exceda el tamaño */
            white-space: nowrap; /* Evita que el texto se divida en varias líneas */
        }

    .button-container {
        display: flex;
        flex-direction: column;
    }

        .button-container .btn {
            margin-bottom: 5px; /* Espacio entre los botones */
        }
</style>



<script>
    function updateLockStatus(personId, year, month, projectId, periodId, actionUrl) {
        var data = { personId: personId, projectId: projectId, year: year, month: month };

        $.ajax({
            url: actionUrl,
            type: 'POST',
            data: JSON.stringify(data),
            contentType: 'application/json; charset=utf-8',
            success: function (response) {
                if (response.success) {
                    // Solicitud AJAX para obtener la vista parcial actualizada
                    $.ajax({
                        url: '/Projects/PeriodDetails',
                        data: { id: periodId, projectId: projectId }, // Asegúrate de pasar los parámetros necesarios
                        success: function (partialViewResult) {
                            // Actualiza el contenedor de la vista parcial con el nuevo contenido
                            $('#detallesPeriodoContainer').html(partialViewResult);
                        }
                    });
                } else {
                    alert('No se pudo actualizar el estado de bloqueo.');
                }
            },
            error: function (error) {
                console.log(error);
                alert('Ocurrió un error al intentar actualizar el estado de bloqueo.');
            }
        });
    }
</script>

