@model TRS2._0.Models.ViewModels.PeriodDetailsViewModel
@using System.Globalization



<div class="table-responsive mx-3 mb-4">
    <table class="table table-bordered table-striped table-hover">
        <thead class="thead-dark">
            <tr>
                <th class="nombre-columna">Nombre</th>
                @foreach (var monthDetail in Model.MonthDetails)
                {
                    <th>
                        <div style="border-bottom: 1px solid white; margin-bottom: 2px; margin-top: 8px; text-align: center">@monthDetail.Key</div>
                        <div style="text-align: center">@monthDetail.Value</div>
                    </th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var person in Model.Persons)
            {
                <tr>
                    <td>@(person.Personnel.Name + " " + person.Personnel.Surname)</td>
                    @foreach (var monthDetail in Model.MonthDetails)
                    {
                        var monthDate = DateTime.Parse(monthDetail.Value);
                        decimal declaredHours = person.DeclaredHours.ContainsKey(monthDate) ? person.DeclaredHours[monthDate] : 0;
                        decimal hoursInProject = person.HoursinProyect.ContainsKey(monthDate) ? person.HoursinProyect[monthDate] : 0;
                        decimal completionPercentage = person.CompletionPercentage.ContainsKey(monthDate) ? person.CompletionPercentage[monthDate] : 0;

                        var statusKey = $"{monthDate.Year}-{monthDate.Month:D2}";
                        var status = person.PersonStatusByMonth.ContainsKey(statusKey) ? person.PersonStatusByMonth[statusKey] : (OutOfContract: false, Overloaded: false);
                        var backgroundColor = status.OutOfContract ? "#FF8C00" : (status.Overloaded ? "#FFFF00" : "");

                        <td style="background-color: @backgroundColor; padding: 4px; vertical-align: top;">
                            <div class="d-flex justify-content-center align-items-center" style="flex-grow: 1; font-size: 0.875rem;">
                                <span class="font-weight-bold">@declaredHours | @hoursInProject</span>
                            </div>
                            <div class="progress" style="height: 10px;">
                                <div class="progress-bar bg-success" role="progressbar" style="width: @(completionPercentage.ToString(CultureInfo.InvariantCulture))%;"
                                     background-color: #28a745 !important;" aria-valuenow="@completionPercentage" aria-valuemin="0" aria-valuemax="100"></div>

                            </div>
                            <div class="text-center" style="font-size: 0.75rem;">@completionPercentage%</div>
                            @{
                                var lockStatusKey = $"{monthDate.Year}-{monthDate.Month:D2}";
                                var isLocked = person.LockStatusByMonth.ContainsKey(lockStatusKey) && person.LockStatusByMonth[lockStatusKey];
                                var canLock = (!status.OutOfContract && !status.Overloaded) || (status.OutOfContract && (declaredHours > 0 || hoursInProject > 0));
                                var buttonText = isLocked ? "Desbloquear" : "Bloquear";
                                var buttonClass = isLocked ? "btn-danger" : "btn-success";
                                var action = isLocked ? "Unlock" : "Lock";
                            }

                            @if (status.Overloaded || (status.OutOfContract && !canLock))
                            {
                                <button class="btn btn-secondary disabled" disabled>@buttonText</button>
                            }
                            else
                            {
                                var actionUrl = isLocked ? "/Projects/Unlock" : "/Projects/Lock"; // Define la URL de acción basada en el estado de bloqueo
                                <button class="btn @buttonClass" onclick="updateLockStatus('@person.Personnel.Id', '@monthDate.Year', '@monthDate.Month', '@ViewBag.ProjectId','@ViewBag.PeriodId', '@actionUrl')">@buttonText</button>
                            }

                        </td>
                    }
                </tr>
            }

        </tbody>
    </table>
</div>




<style>

    .nombre-columna {
        min-width: 200px; /* Ajusta según necesites */
    }


</style>

<script>
    function updateLockStatus(personId, year, month, projectId, periodId, actionUrl) {
        var data = { personId: personId, projectId: projectId, year: year, month: month };

        $.ajax({
            url: actionUrl,
            type: 'POST',
            data: JSON.stringify(data),
            contentType: 'application/json; charset=utf-8',
            success: function (response) {
                if (response.success) {
                    // Solicitud AJAX para obtener la vista parcial actualizada
                    $.ajax({
                        url: '/Projects/PeriodDetails',
                        data: { id: periodId, projectId: projectId }, // Asegúrate de pasar los parámetros necesarios
                        success: function (partialViewResult) {
                            // Actualiza el contenedor de la vista parcial con el nuevo contenido
                            $('#detallesPeriodoContainer').html(partialViewResult);
                        }
                    });
                } else {
                    alert('No se pudo actualizar el estado de bloqueo.');
                }
            },
            error: function (error) {
                console.log(error);
                alert('Ocurrió un error al intentar actualizar el estado de bloqueo.');
            }
        });
    }


</script>