<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TRS3.0</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />

    <!-- FullCalendar -->
    <link rel="stylesheet" href="/css/fullcalendar.min.css" />

    <!-- DataTables -->
    <link rel="stylesheet" href="/css/dataTables.bootstrap4.min.css" />
    <link rel="stylesheet" href="/css/jquery.dataTables.css" />

    <!-- Site Custom Styles -->
    <link rel="stylesheet" href="/css/site.css" asp-append-version="true" />

    <!-- 🔹 Agregar referencia a _Layout.cshtml.css -->
    <link rel="stylesheet" href="~/css/layout-styles.css" asp-append-version="true">
</head>


<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/Images/logo.png" alt="TRS 2.0 Logo" style="height: 50px;"> <!-- Ajusta la ruta y el tamaño según tus necesidades -->
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Inicio</a>
                        </li>
                        @if (User.Identity.IsAuthenticated)
                        {
                            @if (User.IsInRole("Admin") || User.IsInRole("ProjectManager"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Projects" asp-action="InitialRedirect">Proyectos</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Personnels" asp-action="Index">Personal</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="TimeSheet" asp-action="Index">Investigador</a>
                                </li>
                            }
                            @if (User.IsInRole("Admin"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="Index">Admin</a>
                                </li>
                            }
                            @if (User.IsInRole("Admin") || User.IsInRole("ProjectManager") || User.IsInRole("User") || User.IsInRole("Researcher"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="TimeSheet" asp-action="GetTimeSheetsForPerson">TimeSheet</a>
                                </li>
                            }
                        }
                    </ul>
                    <ul class="navbar-nav">
                        <partial name="_LoginPartial" />
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <!-- Menú secundario de proyectos, solo se muestra en las vistas de detalles de proyecto -->
    @if (Context.Request.Path.StartsWithSegments("/Projects/Details") ||
    Context.Request.Path.StartsWithSegments("/Projects/EffortPlan") ||
    Context.Request.Path.StartsWithSegments("/Projects/PersonnelSelection") ||
    Context.Request.Path.StartsWithSegments("/Projects/PersonnelEffortPlan") ||
    Context.Request.Path.StartsWithSegments("/Projects/GetPersonnelEffortsByPerson") ||
    Context.Request.Path.StartsWithSegments("/Projects/ProjectReport"))
    {
        <div class="project-details-menu">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                    <!-- Botón para Details & Wps -->
                    <a class="navbar-brand btn btn-outline-primary me-2 text-dark" href="@Url.Action("Details", "Projects", new { id = ViewBag.ProjId })">
                        Details & Wps
                    </a>

                    <!-- Separador -->
                    <span class="vertical-separator"></span>

                    <!-- Botón para Effort Plan -->
                    <a class="navbar-brand btn btn-outline-primary me-2 text-dark" href="@Url.Action("EffortPlan", "Projects", new { projId = ViewBag.ProjId })">
                        Effort Plan
                    </a>

                    <!-- Separador -->
                    <span class="vertical-separator"></span>

                    <!-- Botón para Personnel Selection -->
                    <a class="navbar-brand btn btn-outline-primary text-dark" href="@Url.Action("PersonnelSelection", "Projects", new { projId = ViewBag.ProjId })">
                        Personnel Selection
                    </a>
                    <!-- Separador -->
                    <span class="vertical-separator"></span>

                    <!-- Botón para Personnel Effort Plan -->
                    <a class="navbar-brand btn btn-outline-primary text-dark" href="@Url.Action("PersonnelEffortPlan", "Projects", new { projId = ViewBag.ProjId })">
                        Personnel Effort Plan
                    </a>

                    <!-- Botón para Personnel Project Report -->
                    <a class="navbar-brand btn btn-outline-primary text-dark" href="@Url.Action("ProjectReport", "Projects", new { projId = ViewBag.ProjId })">
                        Project Report
                    </a>

                </div>
            </nav>
        </div>
    }

    <!-- Menú secundario de personal, se muestra en las vistas relacionadas con personal -->
    @if (Context.Request.Path.StartsWithSegments("/Personnels"))
    {
        <div class="personal-details-menu">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                    <!-- Botones del Submenú -->
                    @if (TempData["SelectedPersonId"] != null)
                    {
                        TempData.Keep("SelectedPersonId"); // Mantener el valor para su uso posterior

                        <!-- Actualizar los enlaces del menú para incluir el SelectedPersonId -->
                        <a class="navbar-brand btn btn-outline-primary me-2 text-dark"
                           href="@Url.Action("Calendar", "Personnels", new { id = TempData["SelectedPersonId"] })">
                            Calendar
                        </a>
                        <span class="vertical-separator"></span>
                        <a class="navbar-brand btn btn-outline-primary me-2 text-dark"
                           href="@Url.Action("Dedication", "Personnels", new { id = TempData["SelectedPersonId"] })">
                            Dedication
                        </a>
                        <span class="vertical-separator"></span>
                        <a class="navbar-brand btn btn-outline-primary me-2 text-dark"
                           href="@Url.Action("ExternalRate", "Personnels", new { id = TempData["SelectedPersonId"] })">
                            External Rate
                        </a>
                        <span class="vertical-separator"></span>
                        <a class="navbar-brand btn btn-outline-primary me-2 text-dark"
                           href="@Url.Action("Travels", "Personnels", new { id = TempData["SelectedPersonId"] })">
                            Travels
                        </a>
                        <span class="vertical-separator"></span>
                        <a class="navbar-brand btn btn-outline-primary me-2 text-dark"
                           href="@Url.Action("LoginLog", "Personnels", new { id = TempData["SelectedPersonId"] })">
                            LoginLog
                        </a>
                    }
                    else
                    {
                        <a class="navbar-brand btn btn-outline-primary me-2 text-dark" href="@Url.Action("Calendar", "Personnels")">
                            Calendar
                        </a>
                        <span class="vertical-separator"></span>
                        <a class="navbar-brand btn btn-outline-primary me-2 text-dark" href="@Url.Action("Dedication", "Personnels")">Dedication</a>
                        <span class="vertical-separator"></span>
                        <a class="navbar-brand btn btn-outline-primary me-2 text-dark" href="@Url.Action("ExternalRate", "Personnels")">External Rate</a>
                        <span class="vertical-separator"></span>
                        <a class="navbar-brand btn btn-outline-primary me-2 text-dark" href="@Url.Action("Travels", "Personnels")">Travels</a>
                        <span class="vertical-separator"></span>
                        <a class="navbar-brand btn btn-outline-primary text-dark" href="@Url.Action("LoginLog", "Personnels")">Login Log</a>
                    }
                </div>
            </nav>
        </div>
    }

    @RenderBody()

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - TRS2.0 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Contacto</a>
        </div>
    </footer>

    <!-- Incluye jQuery primero -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    @* <script src="~/js/jquery-3.5.1.min.js"></script> *@

    <!-- Otros scripts -->
    <script src="/js/jquery.dataTables.min.js"></script>
    <script src="/js/datatables.min.js"></script>
    <script src="/js/dataTables.bootstrap4.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src='~/js/index.global.min.js'></script>
    <script src='~/js/locales-all.global.min.js'></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
