@model IEnumerable<TRS2._0.Models.DataModels.Personnel>


@{
    ViewData["Title"] = "Calendar";
    var selectedPersonId = ViewBag.SelectedPersonId;    
}

<h2>Calendar</h2>

<div class="container">
    <div class="row">
        <!-- Columna de selección de personal -->
        <div class="col-md-6">
            <h2>Person Selection</h2>

            <!-- Dropdown para seleccionar personal -->
            <select id="personnelSelect" class="form-control">
                <option value="">Please select a person from the list below:</option>
                @foreach (var person in Model)
                {
                    <option value="@person.Id">@person.Name @person.Surname</option>
                }
            </select>

            <!-- Barra de búsqueda -->
            <p>Or start typing here the name of the person:</p>
            <input type="text" id="searchTerm" class="form-control" placeholder="Start typing..." onkeyup="filterPersonnel()" />

            <!-- Resultados de búsqueda -->
            <div id="searchResults"></div>
        </div>

        <!-- Columna de detalles del personal -->
        <div class="col-md-6">
            <h2>Person Details</h2>
            <div id="personDetails" class="card">
                <!-- Aquí se cargarán los detalles del personal -->
            </div>
        </div>
    </div>
</div>
<hr />




<div id="calendar"></div>

<div class="modal fade" id="event-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Event</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input type="hidden" name="event-index">
                <form class="form-horizontal">
                    <div class="form-group row">
                        <label for="event-name" class="col-sm-4 control-label">Name</label>
                        <div class="col-sm-8">
                            <input id="event-name" name="event-name" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="event-location" class="col-sm-4 control-label">Location</label>
                        <div class="col-sm-8">
                            <input id="event-location" name="event-location" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="min-date" class="col-sm-4 control-label">Dates</label>
                        <div class="col-sm-8">
                            <div class="input-group input-daterange" data-provide="datepicker">
                                <input id="min-date" name="event-start-date" type="text" class="form-control">
                                <div class="input-group-prepend input-group-append">
                                    <div class="input-group-text">to</div>
                                </div>
                                <input name="event-end-date" type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" id="save-event">
                    Save
                </button>
            </div>
        </div>
    </div>
</div>
<div id="context-menu">
</div>

<div id="calendar"></div>



<div class="calendar-legend">
    <div class="legend-item"><span class="color-box" style="background-color: darkorange;"></span> Leave</div>
    <div class="legend-item"><span class="color-box" style="background-color: lightblue;"></span> Personal Holiday</div>
    <div class="legend-item"><span class="color-box" style="background-color: red;"></span> No Contract Period</div>
    <div class="legend-item"><span class="color-box" style="background-color: pink;"></span> Travel</div>
    <div class="legend-item"><span class="color-box" style="background-color: lightcoral;"></span> Partial Leave</div>
    <div class="legend-item"><span class="color-box" style="background-color: green;"></span> National Holiday</div>
</div>



@section Scripts {
        
    <!-- Aquí puedes incluir scripts para manejar el calendario -->
        <script>

        var calendar;

        document.addEventListener('DOMContentLoaded', function () {
            var calendarEl = document.getElementById('calendar');
            calendar = new FullCalendar.Calendar(calendarEl, {  
                headerToolbar: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'multiMonthYear,dayGridMonth,timeGridWeek,timeGridDay'
                },
                multiMonthMinWidth: 200,
                initialView: "multiMonthYear",
                height: 'auto'
            });
            calendar.render();
        });

                function loadCalendarEvents(personId) {
            if (typeof calendar !== 'undefined') {
                $.ajax({
                    url: '/Personnels/GetLeaveEvents',
                    type: 'GET',
                    data: { personId: personId },
                    success: function (events) {
                        console.log("Total de eventos recibidos:", events.length);

                        // Elimina todos los eventos previos
                        calendar.getEvents().forEach(function (event) {
                            event.remove();
                        });

                        // 🧠 Versión optimizada: añadir eventos de golpe
                        calendar.addEventSource(events);
                    },
                    error: function (xhr, status, error) {
                        console.error("Error al cargar eventos:", status, error);
                    }
                });
            }
        }

        document.getElementById('personnelSelect').addEventListener('change', function () {
            var personId = this.value;
            fetchPersonDetails(personId);
            loadCalendarEvents(personId);
        });

        function filterPersonnel() {
            var searchTerm = document.getElementById('searchTerm').value;

            $.ajax({
                url: '@Url.Action("GetFilteredPersonnel", "Personnels")',
                data: { searchTerm: searchTerm },
                success: function (data) {
                    var resultsDiv = document.getElementById('searchResults');
                    resultsDiv.innerHTML = ''; // Limpiar resultados anteriores

                    data.forEach(function (person) {
                        var personDiv = document.createElement('div');
                        personDiv.className = 'person-result';
                        personDiv.textContent = person.name + ' ' + person.surname;
                        personDiv.setAttribute('data-person-id', person.id);

                        personDiv.onclick = function () {
                            // Marcar el resultado seleccionado como activo y limpiar los demás
                            document.querySelectorAll('.person-result').forEach(function (el) {
                                el.classList.remove('active');
                            });
                            this.classList.add('active');

                            fetchPersonDetails(person.id);
                            loadCalendarEvents(person.id);
                        };

                        resultsDiv.appendChild(personDiv);                        
                    });
                }
            });
        }

        function fetchPersonDetails(personId) {
            $.ajax({
                url: '@Url.Action("GetPersonDetails", "Personnels")',
                data: { id: personId },
                success: function (response) {
                    var detailsDiv = document.getElementById('personDetails');
                    var searchTermInput = document.getElementById('searchTerm');
                    detailsDiv.innerHTML = '';
                    if (response.success) {
                        var data = response.data;                        
                        // Asignar el nombre completo de la persona al campo de búsqueda
                        searchTermInput.value = data.fullName || '';
                        detailsDiv.innerHTML = '<div class="card-body">' +
                            '<h5 class="card-title">' + (data.fullName || '') + '</h5>' +
                            '<p> </p>' +
                            '<p><span class="card-detail-label">Affiliation:</span> ' + (data.affiliation || '') + '</p>' +
                            '<p><span class="card-detail-label">Department:</span> ' + (data.departmentName || '') + '</p>' +
                            '<p><span class="card-detail-label">Group:</span> ' + (data.personnelGroupName || '') + '</p>' +
                            '<p><span class="card-detail-label">Group Leader:</span> ' + (data.responsiblePerson || '') + '</p>' +
                            '<p><span class="card-detail-label">Contract Start:</span> ' + (data.startDate || '') + '</p>' +
                            '<p><span class="card-detail-label">Contract End:</span> ' + (data.endDate || '') + '</p>'

                        '</div>';
                    } else {
                        // Manejar el caso en que la persona no se encontró
                        detailsDiv.innerHTML = '<p>Person details not found.</p>';
                    }
                }
            });
            // Ocultar la lista de resultados
            document.getElementById('searchResults').style.display = 'none';
        }


        document.getElementById('searchResults').addEventListener('click', function (event) {
            if (event.target && event.target.matches('div.person-result')) {
                var personId = event.target.getAttribute('data-person-id');
                fetchPersonDetails(personId);
            }
        });
        // Mostrar la lista de resultados cuando el campo de búsqueda recibe el foco
        document.getElementById('searchTerm').addEventListener('focus', function () {
            document.getElementById('searchResults').style.display = 'block';
        });

        </script>
}

<style>
    .person-result {
        cursor: pointer;
        padding: 5px;
    }

        .person-result:hover {
            background-color: #eee;
        }

        .person-result.active {
            background-color: #4c87c6;
        }

    .card-detail-label {
        font-weight: bold;
    }

    .card-title {
        font-weight: bold;
    }

    #searchResults {
        max-height: 200px; /* Ajusta esto según tus necesidades */
        overflow-y: auto;
        display: none; /* Inicialmente oculto */
    }
    
    
        .calendar-legend .legend-item {
        margin-right: 10px;
        display: inline-block;
    }

    .calendar-legend {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }

    .legend-item {
        display: flex;
        align-items: center;
        margin-right: 15px;
    }

    .color-box {
        width: 20px;
        height: 20px;
        display: inline-block;
        margin-right: 5px;
    }
    
    h2 {
        text-align: center;
        font-weight: bold;
    }

</style>

