@model TRS2._0.Models.ViewModels.ReportPeriodViewModel

@{
    ViewData["Title"] = "ProjectReport";
    // Inicializa las sumas de las columnas
    decimal totalEstimated = 0;
    decimal totalDistributed = 0;
    decimal totalCovered = 0;
    // Asume valores predeterminados o maneja el caso de null según sea necesario
    var startProject = Model.Project.Start ?? DateTime.Today; // Usar la fecha actual como valor por defecto
    var endProject = Model.Project.EndReportDate; // Usar la fecha actual como valor por defecto    
    int index = 1; // Inicializa el contador
    
}
<script src="~/lib/jquery/dist/jquery.min.js"></script>




<div class="container mt-3">
    <div class="row">
        <!-- Encapsula los detalles del proyecto en una tarjeta -->
        <div class="col-md-6">
            <div class="card">
                <div class="card-header text-center">
                    Project Details
                </div>
                <div class="card-body">
                    <dl class="row detail-item">
                        <div class="row detail-item">
                            <dt class="col-sm-4 text-sm-right">Acronym</dt>
                            <dd class="col-sm-8 d-inline-block">@Html.DisplayFor(model => model.Project.Acronim)</dd>
                        </div>
                    </dl>
                    <dl class="row detail-item">
                        <div class="row detail-item">
                            <dt class="col-sm-4 text-sm-right">Title</dt>
                            <dd class="col-sm-8">@Html.DisplayFor(model => model.Project.Title)</dd>
                        </div>
                    </dl>
                    <dl class="row detail-item">
                        <div class="row detail-item">
                            <dt class="col-sm-4 text-sm-right">Contract</dt>
                            <dd class="col-sm-8 d-inline-block">@Html.DisplayFor(model => model.Project.Contract)</dd>
                        </div>
                    </dl>
                    <dl class="row detail-item">
                        <div class="row detail-item">
                            <dt class="col-sm-4 text-sm-right">Start Date</dt>
                            <dd class="col-sm-8 d-inline-block">@(Model.Project.Start.HasValue ? Model.Project.Start.Value.ToString("dd-MM-yyyy") : string.Empty)</dd>
                        </div>
                    </dl>
                    <dl class="row detail-item">
                        <div class="row detail-item">
                            <dt class="col-sm-4 text-sm-right">End Date</dt>
                            <dd class="col-sm-8 d-inline-block">@(Model.Project.EndReportDate.ToString("dd-MM-yyyy"))</dd>
                        </div>
                    </dl>
                    <dl class="row detail-item">
                        <div class="row detail-item">
                            <dt class="col-sm-4 text-sm-right">Project Investigator</dt>
                            <dd class="col-sm-8 d-inline-block">@ViewBag.PiFullName</dd>
                        </div>
                    </dl>
                    <dl class="row detail-item">
                        <div class="row detail-item">
                            <dt class="col-sm-4 text-sm-right">Project Manager</dt>
                            <dd class="col-sm-8 d-inline-block">@ViewBag.PmFullName</dd>
                        </div>
                    </dl>
                    <dl class="row detail-item">
                        <div class="row detail-item">
                            <dt class="col-sm-4 text-sm-right">Finance Manager</dt>
                            <dd class="col-sm-8 d-inline-block">@ViewBag.FmFullName</dd>
                        </div>
                    </dl>
                    <dl class="row detail-item">
                        <div class="row detail-item">
                            <dt class="col-sm-4 text-sm-right">Type</dt>
                            <dd class="col-sm-8 d-inline-block">@Html.DisplayFor(model => model.Project.Type)</dd>
                        </div>
                    </dl>

                    <!-- Tarjeta para Third Parties -->
                    <div class="card mt-4">
                        <div style="text-align: center; background-color: black; color: white; font-size: 24px; font-weight: bold;">
                            Third Parties
                        </div>

                        <div class="card-body">
                            <div class="row">
                                <!-- Cada tick en su propia columna dentro de esta fila -->
                                <div class="col">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="upcCheck" disabled @((Model.Project.TpsUpc == 1) ? "checked" : "")>
                                        <label class="form-check-label" for="upcCheck">UPC</label>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="icreaCheck" disabled @((Model.Project.TpsIcrea == 1) ? "checked" : "")>
                                        <label class="form-check-label" for="icreaCheck">ICREA</label>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="csicCheck" disabled @((Model.Project.TpsCsic == 1) ? "checked" : "")>
                                        <label class="form-check-label" for="csicCheck">CSIC</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card">
                <div class="card-header" style="text-align: center;">
                    Work Packages Details
                </div>
                <div class="card-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th style="text-align: center; background-color: black; color: white;">Name</th>
                                <th style="text-align: center; background-color: black; color: white;">Estimated</th>
                                <th style="text-align: center; background-color: black; color: white;">Distributed</th>
                                <th style="text-align: center; background-color: black; color: white;">Covered with Personnel</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var wp in ViewBag.WpDetails)
                            {
                                // Calcula las sumas de las columnas
                                totalEstimated += Convert.ToDecimal(wp.Pms);
                                totalDistributed += Convert.ToDecimal(wp.Distributed);
                                totalCovered += Convert.ToDecimal(wp.Covered);

                                // Determina la clase para la fila según las condiciones
                                string rowClass = "";
                                string textStyle = "";
                                if (Convert.ToDecimal(wp.Pms) == wp.Distributed && wp.Distributed == wp.Covered)
                                {
                                    rowClass = "table-success"; // Fondo verde claro
                                    textStyle = "text-success font-weight-bold"; // Texto verde oscuro y en negrita
                                }
                                else if (Convert.ToDecimal(wp.Pms) == wp.Distributed && wp.Distributed != wp.Covered && Convert.ToDecimal(wp.Pms) != wp.Covered)
                                {
                                    rowClass = "table-warning"; // Fondo naranja claro
                                    textStyle = "font-weight-bold"; // Todo en negrita
                                }
                                else if (Convert.ToDecimal(wp.Pms) != wp.Distributed && wp.Distributed != wp.Covered && Convert.ToDecimal(wp.Pms) != wp.Covered)
                                {
                                    rowClass = "table-warning"; // Fondo naranja claro
                                    textStyle = "font-weight-bold"; // Todo en negrita
                                }
                                else
                                {
                                    rowClass = "table-light"; // Fondo amarillo claro
                                                              // No se aplica una clase de texto específica aquí; se manejará individualmente
                                }

                                <tr class="@rowClass">
                                    <td class="centered" style="text-align: center;">@wp.Name</td>
                                    <td class="centered" style="text-align: center;">@wp.Pms</td>
                                    <td class="centered" style="text-align: center;">@wp.Distributed</td>
                                    <td class="centered" style="text-align: center;">@wp.Covered</td>
                                </tr>
                            }
                            <!-- Fila de Total -->
                            <tr class="table-primary">
                                <th style="text-align: center; background-color: black; color: white;">Total</th>
                                <td class="centered bold" style="text-align: center;">@totalEstimated</td>
                                <td class="centered bold" style="text-align: center;">@totalDistributed</td>
                                <td class="centered bold" style="text-align: center;">@totalCovered</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>


    </div>
    <hr />
<div class="container mt-3">
    @if (Model.ReportPeriods.Any())
    {
        <div class="card mt-4">
            <div class="card-header" style="text-align: center; background-color: black; color: white;">
                Report Periods Details
            </div>
            <div class="card-body">
                    <table class="table table-hover">
                    <thead>
                        <tr>
                            <th style="text-align: center; background-color: black; color: white;">Reporting Period</th>
                            <th style="text-align: center; background-color: black; color: white;">Period Date</th>
                            <th style="text-align: center; background-color: black; color: white;">Period in Months</th>
                            <th style="text-align: center; background-color: black; color: white;">Actions</th>
                        </tr>
                    </thead>
                    @foreach (var reportPeriod in Model.ReportPeriods)
                    {
                        int startMonth = ((reportPeriod.StartDate.Year - Model.Project.Start.Value.Year) * 12) + reportPeriod.StartDate.Month - Model.Project.Start.Value.Month + 1;
                        int endMonth = ((reportPeriod.EndDate.Year - Model.Project.Start.Value.Year) * 12) + reportPeriod.EndDate.Month - Model.Project.Start.Value.Month + 1;
                        <tr>
                            <td class="periodo" data-periodo-id="@reportPeriod.Id" style="text-align: center;" data-index="@index">
                                <button type="button" class="btn btn-primary btn-block font-weight-bold">@($"P {index}")</button>
                            </td>
                            <td style="text-align: center;">@reportPeriod.StartDate.ToString("dd-MM-yyyy") / @reportPeriod.EndDate.ToString("dd-MM-yyyy")</td>
                            <td style="text-align: center;">M @startMonth / M @endMonth</td>
                            <td style="text-align: center;">
                                <button type="button" class="btn btn-danger" onclick="deleteReportPeriod(@reportPeriod.Id)">Delete</button>
                            </td>
                        </tr>
                        index++;
                    }
                </table>
            </div>
        </div>
        <hr />
    }else{
        <div class="alert alert-warning" role="alert">
            No report periods have been added yet.
        </div>
    }
        <div class="text-center my-3">
    <div id="reportPeriodsSection"></div>
    <button type="button" class="btn btn-primary" id="addReportPeriodBtn" onclick="loadReportPeriodForm()">Add Reporting Periods</button>
    <button type="button" class="btn btn-secondary" id="cancelReportPeriodBtn" onclick="cancelReportPeriodForm()" style="display:none;">Cancel</button>
            <div class="card mt-4">
                <div class="card-header bg-dark text-white text-center">
                    Export Options
                </div>
                <div class="card-body">
                    <div class="row mb-3">
                        <div class="col-md-4 d-flex align-items-center">
                            <label for="manualDate" class="mb-0 mr-2 font-weight-bold">Manual Date:</label>
                            <input type="date" id="manualDate" class="form-control ml-2" />
                        </div>

                        <div class="col-md-4 d-flex align-items-center">
                            <label for="manualCode" class="mb-0 ml-3 mr-2 font-weight-bold">Manual Code:</label>
                            <input type="text" id="manualCode" class="form-control ml-2"/>
                        </div>
                    </div>


                    <div class="row text-center">
                        <div class="col-md-4 mb-2">
                            <button type="button" class="btn btn-success btn-block btn-smaller-text" id="exportDeclaredHoursBtn" onclick="exportDeclaredHoursToCSV()" style="display:none;">
                                Export Declared Hours
                            </button>
                        </div>
                        <div class="col-md-4 mb-2">
                            <button type="button" class="btn btn-success btn-block btn-smaller-text" id="exportEstimatedHoursBtn" onclick="exportEstimatedHoursToCSV()" style="display:none;">
                                Export Estimated Hours
                            </button>
                        </div>
                        <div class="col-md-4 mb-2">
                            <button type="button" class="btn btn-success btn-block btn-smaller-text" id="exportPMsBtn" onclick="exportPMsToCSV()" style="display:none;">
                                Export PMs
                            </button>
                        </div>
                        <div class="col-md-4 mb-2">
                            <button type="button" class="btn btn-success btn-block btn-smaller-text" id="exportPMSforWPToCSV" onclick="exportPMSforWPToCSV()" style="display:none;">
                                Export PMs per WP
                            </button>
                        </div>
                        <div class="col-md-4 mb-2">
                            <button type="button" class="btn btn-success btn-block btn-smaller-text" id="exportPMSforAuditoria" onclick="exportPMSforAuditoriaToCSV()" style="display:none;">
                                Export Audit PMs
                            </button>
                        </div>
                        <div class="col-md-4 mb-2">
                            <button type="button" class="btn btn-success btn-block btn-smaller-text" id="exportPMSforWPToCSVBtn" onclick="exportPMSAuditByWPToCSV()" style="display:none;">
                                Export Audit PMs per WP
                            </button>
                        </div>
                        <div class="col-md-4 mb-2">
                            <button type="button" class="btn btn-success btn-block btn-smaller-text" id="exportWorkedDaysBtn" onclick="exportWorkedDaysToCSV()" style="display:none;">
                                Export Worked Days
                            </button>
                        </div>
                    </div>
                </div>
            </div>
</div>





</div>
</div>
<div id="detallesPeriodoContainer" class="table-container-period"></div>


<script>
      // Helper para limpiar textos de celdas (quita botones/etiquetas UI)
    function cleanCellText(col) {
        // Texto plano sin saltos
        let txt = col.innerText.replace(/(\r\n|\n|\r)/gm, ' ').trim();

        // Quitar etiquetas/botones habituales
        txt = txt
          .replace(/\b(Lock All|Reopen All|Lock|Reopen|Timesheet)\b/gi, '')
          .replace(/\s{2,}/g, ' ') // espacios dobles
          .trim();

        return txt;
    }


    $(document).ready(function () {
        $(document).on('click', '.periodo', function () {
            var periodoId = $(this).data('periodo-id');
            var projectId = @ViewBag.projId;
            var startDate = $(this).closest('tr').find('td:nth-child(2)').text().split(' / ')[0];
            var endDate = $(this).closest('tr').find('td:nth-child(2)').text().split(' / ')[1];

            $.ajax({
                url: '/Projects/PeriodDetails',
                data: { id: periodoId, projectId: projectId },
                success: function (data) {
                    $('#detallesPeriodoContainer').html(data);
                    $('#detallesPeriodoContainer').show();
                    // $('#exportHoursBtn').show(); // Mostrar el botón de exportar horas
                    $('#exportPMsBtn').show(); // Mostrar el botón de exportar PMs
                    $('#exportPMSforWPToCSV').show(); // Mostrar el botón de exportar PMs por WP
                    $('#exportPMSforAuditoria').show(); // Mostrar el botón de exportar PMs Auditoria
                    $('#exportDeclaredHoursBtn').show(); // Mostrar el botón de exportar horas declaradas
                    $('#exportEstimatedHoursBtn').show(); // Mostrar el botón de exportar horas estimadas
                    $('#exportPMSforWPToCSVBtn').show(); // Mostrar el botón de exportar PMs Auditoria por WP
                    $('#exportWorkedDaysBtn').show(); //Mostrar el botón de exportar días trabajados


                    // Guardar las fechas del periodo seleccionado
                    $('#exportPMSforWPToCSV').data('start-date', startDate);
                    $('#exportPMSforWPToCSV').data('end-date', endDate);
                }
            });
        });
    });




    function loadReportPeriodForm() {
        $.ajax({
            url: '@Url.Action("ReportPeriodForm", "Projects", new { projId = ViewBag.projId })',
            type: 'GET',
            success: function (result) {
                $('#reportPeriodsSection').html(result);
                $('#addReportPeriodBtn').hide(); // Oculta el botón de añadir
                $('#cancelReportPeriodBtn').show(); // Muestra el botón de cancelar
            }
        });
    }

    function cancelReportPeriodForm() {
        $('#reportPeriodsSection').html(''); // Limpia la sección de la vista parcial
        $('#cancelReportPeriodBtn').hide(); // Oculta el botón de cancelar
        $('#addReportPeriodBtn').show(); // Muestra nuevamente el botón de "Add Reporting Periods"
    }

    function deleteReportPeriod(id) {
        if (confirm('Are you sure you want to delete this period?')) {
            $.post('/Projects/DeleteReportPeriod', { id: id }, function (data) {
                if (data.success) {
                    alert('Report period deleted successfully.');
                    // Actualizar la vista o recargar la página aquí si es necesario
                    location.reload();
                } else {
                    alert(data.message || 'An error occurred.');
                }
            });
        }
    }   

    function exportHoursToCSV() {
        var csvContent = "data:text/csv;charset=utf-8,\uFEFF";
        var rows = document.querySelectorAll('#detallesPeriodoContainer table tr');

        rows.forEach(function (row) {
            var cols = row.querySelectorAll('th, td');
            var rowData = [];
            cols.forEach(function (col) {
                var declaredHours = col.getAttribute('data-declared-hours');
                var hoursInProject = col.getAttribute('data-hours-in-project');
                if (declaredHours && hoursInProject) {
                    rowData.push(`${declaredHours.replace('.', ',')} | ${hoursInProject.replace('.', ',')}`);
                } else {
                    rowData.push(col.innerText.replace(/(\r\n|\n|\r)/gm, "").trim().replace('.', ','));
                }
            });
            csvContent += rowData.join(";") + "\r\n";
        });

        var encodedUri = encodeURI(csvContent);
        var link = document.createElement("a");
        link.setAttribute("href", encodedUri);
        link.setAttribute("download", "horas_periodo.csv");
        document.body.appendChild(link);
        link.click();
        document.body.removeChild(link);
    }

      function exportDeclaredHoursToCSV() {
        var csvContent = "data:text/csv;charset=utf-8,\uFEFF";
        var rows = document.querySelectorAll('#detallesPeriodoContainer table tr');

        rows.forEach(function (row) {
            var cols = row.querySelectorAll('th, td');
            var rowData = [];
            cols.forEach(function (col, colIdx) {
                var declaredHours = col.getAttribute('data-declared-hours');

                if (declaredHours) {
                    // Si hay atributo con el dato limpio, úsalo
                    rowData.push(declaredHours.replace('.', ','));
                } else {
                    // Si no, limpiamos el texto de la celda (quitando Lock/Reopen/etc.)
                    var txt = cleanCellText(col);

                    // Si quieres, limita la primera columna a “Nombre Apellidos” sin más adornos:
                    // if (colIdx === 0) { ... }  // opcional si en la primera columna es donde salen esos botones

                    rowData.push(txt.replace('.', ','));
                }
            });
            csvContent += rowData.join(";") + "\r\n";
        });

        var encodedUri = encodeURI(csvContent);
        var link = document.createElement("a");
        link.setAttribute("href", encodedUri);
        link.setAttribute("download", "horas_declaradas.csv");
        document.body.appendChild(link);
        link.click();
        document.body.removeChild(link);
    }

    function exportEstimatedHoursToCSV() {
        var csvContent = "data:text/csv;charset=utf-8,\uFEFF";
        var rows = document.querySelectorAll('#detallesPeriodoContainer table tr');

        rows.forEach(function (row) {
            var cols = row.querySelectorAll('th, td');
            var rowData = [];
            cols.forEach(function (col) {
                var hoursInProject = col.getAttribute('data-hours-in-project');
                if (hoursInProject) {
                    rowData.push(hoursInProject.replace('.', ','));
                } else {
                    rowData.push(col.innerText.replace(/(\r\n|\n|\r)/gm, "").trim().replace('.', ','));
                }
            });
            csvContent += rowData.join(";") + "\r\n";
        });

        var encodedUri = encodeURI(csvContent);
        var link = document.createElement("a");
        link.setAttribute("href", encodedUri);
        link.setAttribute("download", "horas_estimadas.csv");
        document.body.appendChild(link);
        link.click();
        document.body.removeChild(link);
    }


    function exportPMsToCSV() {
        var csvContent = "data:text/csv;charset=utf-8,\uFEFF";
        var rows = document.querySelectorAll('#detallesPeriodoContainer table tr');

        rows.forEach(function (row) {
            var cols = row.querySelectorAll('th, td');
            var rowData = [];
            cols.forEach(function (col) {
                var totalEffort = col.getAttribute('data-total-effort');
                if (totalEffort) {
                    rowData.push(totalEffort.replace('.', ','));
                } else {
                    rowData.push(col.innerText.replace(/(\r\n|\n|\r)/gm, "").trim().replace('.', ','));
                }
            });
            csvContent += rowData.join(";") + "\r\n";
        });

        var encodedUri = encodeURI(csvContent);
        var link = document.createElement("a");
        link.setAttribute("href", encodedUri);
        link.setAttribute("download", "PMs_periodo.csv");
        document.body.appendChild(link);
        link.click();
        document.body.removeChild(link);
    }


    function exportPMSforWPToCSV() {
        var projectId = @ViewBag.projId;
        var startDate = $('#exportPMSforWPToCSV').data('start-date');
        var endDate = $('#exportPMSforWPToCSV').data('end-date');

        // Convertir las fechas al formato ISO 8601 (yyyy-MM-dd)
        var startDateISO = new Date(startDate.split('-').reverse().join('-')).toISOString().split('T')[0];
        var endDateISO = new Date(endDate.split('-').reverse().join('-')).toISOString().split('T')[0];

        // Verificar los valores antes de enviarlos
        console.log("Project ID:", projectId);
        console.log("Start Date (ISO):", startDateISO);
        console.log("End Date (ISO):", endDateISO);

        fetch('@Url.Action("ExportPmsperWPtoCSV", "Projects")', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ ProjectId: projectId, StartDate: startDateISO, EndDate: endDateISO })
        })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.blob();
            })
            .then(blob => {
                var url = window.URL.createObjectURL(blob);
                var a = document.createElement('a');
                a.href = url;
                a.download = `PMsPerWP_${projectId}_${new Date().toISOString().slice(0, 10)}.csv`;
                document.body.appendChild(a);
                a.click();
                a.remove();
            })
            .catch(error => console.error('Error:', error));
    }

    function exportPMSforAuditoriaToCSV() {
        var projectId = @ViewBag.projId;
        var startDate = $('#exportPMSforWPToCSV').data('start-date');
        var endDate = $('#exportPMSforWPToCSV').data('end-date');

        // Convertir las fechas al formato ISO 8601 (yyyy-MM-dd)
        var startDateISO = new Date(startDate.split('-').reverse().join('-')).toISOString().split('T')[0];
        var endDateISO = new Date(endDate.split('-').reverse().join('-')).toISOString().split('T')[0];

        // Verificar los valores antes de enviarlos
        console.log("Project ID:", projectId);
        console.log("Start Date (ISO):", startDateISO);
        console.log("End Date (ISO):", endDateISO);

        fetch('@Url.Action("ExportPmsAuditoria", "Projects")', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ ProjectId: projectId, StartDate: startDateISO, EndDate: endDateISO })
        })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.blob();
            })
            .then(blob => {
                var url = window.URL.createObjectURL(blob);
                var a = document.createElement('a');
                a.href = url;
                a.download = `PMsAuditoria_${projectId}_${new Date().toISOString().slice(0, 10)}.csv`;
                document.body.appendChild(a);
                a.click();
                a.remove();
            })
            .catch(error => console.error('Error:', error));
    }  
    
    function exportPMSAuditByWPToCSV() {
        var projectId = @ViewBag.projId;
        var startDate = $('#exportPMSforWPToCSV').data('start-date');
        var endDate = $('#exportPMSforWPToCSV').data('end-date');

        // Convertir las fechas al formato ISO 8601 (yyyy-MM-dd)
        var startDateISO = new Date(startDate.split('-').reverse().join('-')).toISOString().split('T')[0];
        var endDateISO = new Date(endDate.split('-').reverse().join('-')).toISOString().split('T')[0];

        // Verificar los valores antes de enviarlos
        console.log("Project ID:", projectId);
        console.log("Start Date (ISO):", startDateISO);
        console.log("End Date (ISO):", endDateISO);

        fetch('@Url.Action("ExportPmsAuditoriaByWP", "Projects")', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ ProjectId: projectId, StartDate: startDateISO, EndDate: endDateISO })
        })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.blob();
            })
            .then(blob => {
                var url = window.URL.createObjectURL(blob);
                var a = document.createElement('a');
                a.href = url;
                a.download = `PMsAuditByWP_${projectId}_${new Date().toISOString().slice(0, 10)}.csv`;
                document.body.appendChild(a);
                a.click();
                a.remove();
            })
            .catch(error => console.error('Error:', error));
    }

        function exportWorkedDaysToCSV() {
        var projectId = @ViewBag.projId;
        var startDate = $('#exportPMSforWPToCSV').data('start-date');
        var endDate = $('#exportPMSforWPToCSV').data('end-date');

        // Convertir las fechas al formato ISO 8601 (yyyy-MM-dd)
        var startDateISO = new Date(startDate.split('-').reverse().join('-')).toISOString().split('T')[0];
        var endDateISO = new Date(endDate.split('-').reverse().join('-')).toISOString().split('T')[0];

        fetch('@Url.Action("ExportWorkedDaysToCSV", "Projects")', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                ProjectId: projectId,
                StartDate: startDateISO,
                EndDate: endDateISO
            })
        })
        .then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            return response.blob();
        })
        .then(blob => {
            var url = window.URL.createObjectURL(blob);
            var a = document.createElement('a');
            a.href = url;
            a.download = `WorkedDays_${projectId}_${new Date().toISOString().slice(0, 10)}.csv`;
            document.body.appendChild(a);
            a.click();
            a.remove();
        })
        .catch(error => console.error('Error exporting Worked Days:', error));
    }


</script>



    <style>
        .periodo {
            cursor: pointer; /* Cambia el cursor a una mano para indicar que es clicable */
            color: blue; /* Cambia el color del texto a azul */
            text-decoration: none; /* Asegura que inicialmente no esté subrayado */
        }

            .periodo:hover {
                text-decoration: underline; /* Subraya el texto al pasar el ratón por encima */
            }

        .table-hover tbody tr:hover {
            background-color: #f5f5f5; /* Cambia este color según tus preferencias */
        }

    .table-container-period {
        max-width: 1600px;
        margin: 0 auto; /* Centra la tabla horizontalmente */
    }

    .card-detail-label {
        font-weight: bold;
    }

    .card-title {
        font-weight: bold;
    }

    .card-header {
        background-color: #005A9C; /* Azul oscuro, ajusta el código de color según tu logo */
        color: #FFFFFF; /* Blanco */
        text-align: center;
        font-weight: bold;
        /* Otros estilos que desees mantener, como el padding, etc. */
    }

    .wp-checkbox {
        width: 25px; /* Tamaño del checkbox */
        height: 25px; /* Tamaño del checkbox */
        cursor: pointer; /* Cambia el cursor a mano al pasar sobre el checkbox */
        margin: auto; /* Centra el checkbox en la celda */
    }
    
    .sticky-header {
        position: sticky;
        top: 0;
        z-index: 2; /* Asegura que el encabezado se mantenga sobre el contenido desplazable */
    }

    .sticky-name-header {
        position: sticky;
        top: 0;
        left: 0;
        z-index: 4; /* Asegura que la cabecera fija esté sobre el contenido desplazable */
    }

    .card-header {
        font-size: 24px; /* Aumenta el tamaño del texto */
        font-weight: bold; /* Texto en negrita */
        text-align: center; /* Texto centrado */
    }

    .my-style {
        font-size: 2.5rem; /* Ajusta el tamaño de la fuente */
        font-weight: bold;
        color: #0056b3; /* Cambia al color que prefieras */
        text-shadow: 2px 2px 4px rgba(0,0,0,0.2); /* Añade una ligera sombra */
    }

    .btn-smaller-text {
        font-size: 0.85rem; /* Reduce un poco el tamaño del texto */
        padding-left: 10px;
        padding-right: 10px;
        white-space: nowrap; /* Evita el salto de línea */
    }

    #manualDate {
        min-width: 150px;
    }

    .card-header {
        font-size: 20px;
    }

    .btn-block {
        white-space: nowrap;
    }
    </style>

